# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Insert HTML Tag'
      'command': 'atom-tag-fu:insert'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Tag Fu'
      'submenu': [
        {
          'label': 'Insert HTML Tag'
          'command': 'atom-tag-fu:insert'
        }
      ]
    ]
  }
]
